PORT=5000
MONGODB_URI=mongodb+srv://hoanmeo:Abc123456@cluster0.arhckda.mongodb.net/movie-ticket-booking?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://hoanmeo:Abc123456@cluster0.arhckda.mongodb.net/movie-ticket-booking?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeyforbookingmovies12345
NODE_ENV=development
APP_URL=http://localhost:5173

# TMDB API
TMDB_API_KEY=5d7e5737d06d963094496b2c7019e20c

# VNPAY
VNP_TMN_CODE=2QXUI2C7
VNP_HASH_SECRET=TS858W9CLXN6HO482G6CGB21H0B00C4D
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/vnpay-return

# MOMO
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
MOMO_REDIRECT_URL=http://localhost:5173/momo-return
MOMO_IPN_URL=http://localhost:5000/api/payments/momo/ipn
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create

# VIETQR
VIETQR_BANK_ID=TCB
VIETQR_ACCOUNT_NO=19073206758013
VIETQR_ACCOUNT_NAME=NGUYEN MINH DUC

# ── EMAIL / SMTP (Gửi email khôi phục mật khẩu & vé) ──
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nokduck89@gmail.com
SMTP_PASS=oxzmawivmlwlpliv
